.u-section-1 {background-image: url("https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")}
.u-section-1 .u-sheet-1 {min-height: 720px}
.u-section-1 .u-image-1 {width: 53px; height: 53px; background-image: url("https://media.discordapp.net/attachments/599327653752995861/759555905661960212/android-chrome-192x192.png"); background-position: 50% 50%; margin: 25px auto 0 1140px}
.u-section-1 .u-text-1 {font-style: italic; text-transform: uppercase; font-weight: 700; text-shadow: -2px 2px 8px rgba(128,128,128,1); letter-spacing: -1px; font-size: 3.75rem; margin: 198px 929px 0 -56px}
.u-section-1 .u-text-2 {margin: 13px 679px 0 -30px}
.u-section-1 .u-btn-1 {border-style: solid; margin: 13px auto 60px -12px} 

@media (max-width: 1199px){ .u-section-1 {min-height: 342px}
.u-section-1 .u-sheet-1 {min-height: 594px}
.u-section-1 .u-image-1 {margin-left: 887px}
.u-section-1 .u-btn-1 {margin-left: 0; padding: 0} }

@media (max-width: 991px){ .u-section-1 {min-height: 203px}
.u-section-1 .u-sheet-1 {min-height: 455px}
.u-section-1 .u-image-1 {margin-left: 667px}
.u-section-1 .u-text-1 {margin-right: 819px} }

@media (max-width: 767px){ .u-section-1 {min-height: 89px}
.u-section-1 .u-sheet-1 {min-height: 341px}
.u-section-1 .u-image-1 {margin-left: 487px}
.u-section-1 .u-text-1 {margin-right: 729px}
.u-section-1 .u-text-2 {margin-right: 589px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 215px}
.u-section-1 .u-image-1 {margin-left: 287px}
.u-section-1 .u-text-1 {font-size: 3rem; margin-right: 629px}
.u-section-1 .u-text-2 {margin-right: 489px} }